.show-user {
  /* background-image: linear-gradient(
    to bottom,
    rgba(204, 202, 238, 0.5),
    rgba(27, 47, 228, 0.5)
  ); */
  min-height: 100vh;
}

.std-heading {
  font-family: "Source Serif Pro", serif;
  text-align: center;
  font-size: 3rem;
  color: black;
  padding: 30px;
  font-weight: bold;
}
